<% if slot.tutors.any? %>
<% slot.tutors.each do |tutor| %>
<div title="<%= tutor.person.fullname %>" rel="#tutor-<%= tutor.id %>" class="infobox person"><%= tutor.person.abbr_name %></div>
<% end %>
<% else %>
<div class="infobox person">No Tutoring!</div>
<% end %>