*.swp
*.pyc
.bundle
.yardoc
config/database.yml
db/*.sqlite3
db/goodprofornot_dump/
db/backups
doc/app
log/*.log
tmp/**/*
private/**/*
!private/resume_books/templates/
public/cache/
public/examfiles/
nbproject
coverage/
.sass-cache/
.vagrant/
