*.gz
*.swp
*.pyc
*.*~
.bundle
.yardoc
config/database.yml
config/secrets.yml
db/*.sqlite3
db/goodprofornot_dump/
db/backups
doc/app
log/*.log
tmp/**/*
private/**/*
!private/resume_books/templates/
public/cache/
public/examfiles/
spec/examples.txt
nbproject
coverage/
.sass-cache/
.vagrant/
vendor/bundle
.DS_Store

# Clear stuff on production server
tmp
log
*.log
solr/default/
solr/development/
solr/pids/
solr/production/
solr/test/
public/assets/
public/eecsfactor/
public/images/
public/pictures/
public/redmine
public/student/
