*.*~
*.DS_Store
*.gz
*.pyc
*.swp
.bundle
.sass-cache/
.vagrant/
.yardoc
config/database.yml
config/secrets.yml
coverage/
db/*.sqlite3
db/backups
db/goodprofornot_dump/
doc/app
log/*.log
nbproject
private/**/*
!private/resume_books/templates/
public/assets/
public/cache/
public/examfiles/
public/images/
public/pictures/
spec/examples.txt
tmp/**/*
!tmp/restart.txt
vendor/bundle

# Clear stuff on production server
*.log
elections_hknmod
hknmod.py
log
run_hknmod
solr/default/
solr/development/
solr/pids/
solr/production/
solr/test/
tmp
