<% content_for :header do %>
  <style type="text/css">
    #contain{
      width: 50%;
      margin: auto;
    }
  </style>
<% end %>

<div class="white-bg" id="contain">
  <h1>Reset Password</h1>
  <%= form_tag reset_password_submit_path do %>
    <div class="field">
      <%= label_tag :username, "Username" %>
      <%= text_field_tag :username %>
    </div>
    <div class="field-submit">
      <%= submit_tag "Reset Password" %>
    </div>
  <%- end %>
</div>
