<h1>MEMBER ONLY Account Registration</h1>
<p><strong>*Please only register if you are a HKN member. Site no longer used for candidates (please use dev-hkn).</strong>
   Otherwise, send us an email with your reason for registration.</p>
<%= render 'form' %>
