<%# http://wiki.github.com/mislav/will_paginate/ajax-pagination %>

<% content_for :header do %>
  <%= stylesheet_link_tag 'indrel' %>
<% end %>

<h1>Listing events</h1>

<%= render partial: 'list' %>

<%= link_to 'New event', new_indrel_event_path %>
