<h1>Corresponding Secretary Admin</h1>
<ul>
  <li><%= link_to 'Select classes to be surveyed this semester', admin_csec_select_classes_path %></li>
  <li><%= link_to 'Manage classes', admin_csec_manage_classes_path %></li>
  <li><%= link_to 'Manage candidates', admin_csec_manage_candidates_path %></li>
</ul>
