<%# http://wiki.github.com/mislav/will_paginate/ajax-pagination %>
<h1>Listing event_types</h1>

<%= render partial: 'list' %>

<%= link_to 'New event_type', new_indrel_event_type_path %>

<%= ajaxify_links %>
