/* Calendar */
#calendar { border-collapse: collapse; table-layout: fixed; width: 100%; }
#calendar th { border: 1px solid #BBBBBB; background-color: #EEEEEE; color: #666; font-weight: normal; font-family: "Cuprum"; text-transform: uppercase; font-size: 1.2em; text-align: center;}
#calendar td { border: 1px solid #BBBBBB; background-color: white; padding: 0; }
#calendar td.today { background-color: #CCCCFF; }
#calendar .today .date-field { background-color: #AAAAFF;}
#calendar td.inactive { background-color: #F8F8F8; }
#calendar .date-field { background-color: #F5F9FF; text-align: right; font-size: 0.8em; line-height: 1.5em; }
#calendar .date-cell { min-height: 3em; }
.calendar .event a { color: white; }
.calendar .event a:hover { color: white; text-decoration: none; }
.calendar .event { background-color: #8888FF; -moz-border-radius: 0.8em; margin: 2px 0; padding: 0 3px; font-size: 0.8em; }
.calendar .event { color: white; background-color: #8888FF; }
.calendar .event:hover { color: white; background-color: #444488; }
#ajax-wrapper .title {display: inline-block; width: 100%; text-align: center; font-family: "Cuprum"; font-size: 2em; text-transform: uppercase; padding-top: 1em; text-shadow: white 0px -2px 0px;}

.calendar .fun { background-color: #FF6666; }
.calendar .big-fun { background-color: #44CC44; }
.calendar .mandatory-for-candidates { background-color: #AA66DD; }
.calendar .industry { background-color: #BBBB22; }
.calendar .service { background-color: #8888FF; }
.calendar .miscellaneous { background-color: #FF8000; }
.calendar li { display: inline; border-radius: 3px; padding: 5px; }
