#indrel-head { text-align: center; }
.indrel-officer-photo { float: left; }

tr:nth-child(4n+1) { background-color: #fff; }
tr:nth-child(4n+2) { background-color: #fff; }
tr:nth-child(4n+3) { background-color: #f9f9f9; }
tr:nth-child(4n)   { background-color: #f9f9f9; }
