/*** Standard Styling ***/
html { height: 100%; }
body { height: 100%; margin: 0; padding: 0; background: #FFFFFF; }
ul, ol { margin-left: 15px; }
img { border: none; }
a { color: #3366CC; text-decoration: none; }
a:link { color: #3366CC; }
a:visited { color: #3366CC; }
a:hover { text-decoration: underline; }
/*input { border: 1px solid #003366; background: #F1F1F1; font-size: 11px; font-weight: normal; margin: 2px 0; padding: 2px 3px; vertical-align: middle; }
input:focus { border: 1px solid black; }
input[type=submit] { background: #EEEEEE; margin: 4px; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; }
input[type=submit]:hover { -moz-box-shadow: 0px 0px 3px #000; -webkit-box-shadow: 0px 0px 3px #000; }
input.short { width: 100px; }
input.long  { width: 200px; }
textarea  { width: 400px; height: 100px; }
select { border: 1px solid #CCCCCC; background: #F1F1F1; font-size: 11px; font-weight: normal; margin: 2px 0; padding: 2px 3px; vertical-align: middle; }
select:focus { border: 1px solid black; }
textarea { border: 1px solid #CCCCCC; background: #F1F1F1; font-size: 11px; font-weight: normal; margin: 2px 0; padding: 2px 3px; vertical-align: middle; }
textarea:focus { border: 1px solid black; }*/
label { font-weight: bold; padding-right: 3px; color: #444444; text-align: right; }
.small { font-size: 0.8em; line-height: 1.2em; }
.aside { font-size: 0.8em; line-height: 1.2em; color: #444444; }
.super { font-size: 75%; vertical-align: super; }
.warning { color: red; }
th, td { padding: 4px; vertical-align: top; text-align: left; }
th { font-weight: bold; }
.infodiv { width: 300px; text-align: left; }
.two_column { width: 45%; float: left; }
.right_column { float: right; }
ul.plain { list-style: none; margin-top: 0; margin-left: 0; padding-left: 1em; text-indent: -1em; }
.center { text-align: center; }

/*** Main Layout ***/
body{
  background: url("../images/back_gray.png");
  font-family: "Puritan", "Lucinda Grande", Helvetica, Arial, serif;
  font-size: 0.9em;
  line-height: 1.3em;
  color: #333;
}

h1{
  font-size: 1.4em;
  text-shadow: white 0px -2px 0px;
}

h2{
  font-size: 1.2em;
  text-shadow: white 0px -2px 0px;
}

h2{
  font-size: 1.1em;
  text-shadow: white 0px -2px 0px;
}
/* Header */
#navigation{
  width: 100%;
  background: #403f3f;
  color: white;
}

#navigation ul{
  margin: 0px;
  padding: 8px;
  padding-left: 50px;
  font-family: "Cuprum";
  font-size: 1.2em;
}

#navigation li{
  list-style-type: none;
  display: inline-block;
  padding-right: 2em;
  text-transform: uppercase;
}

#navigation a{
  text-decoration: none;
  color: white;
}

#navigation a:hover{
  color: #f7e26b;
}

#navigation li a.current{
  color: #f7e26b;
}

#lower{
  background: rgba(10, 10, 30, 0.05);
}

#lower #content{
  padding: 30px 50px;
}

#logo{
  width: 437px;
  height: 88px;
  background: url("../images/hkn_logo.png");
  float: left;
  cursor: pointer;
}

#submenu{
  font-size: 1.3em;
  line-height: 1.3em;
  padding-left: 20px;
  padding-top: 10px;
  float: left;
}

#submenu .submenu{
  display: none;
}

#submenu .submenu ul{
  padding-left: 3em;
  float:left;
}

#submenu a{
  font-family: "Cuprum";
  text-transform: uppercase;
  color: #999;
  text-decoration: none;
  text-shadow: white 0px -1px 0px;
}

#submenu a:hover, .submenu .current{
  color: #666;
}

#submenu .current{
  display: block;
}

#topbar{
  padding-top: 10px;
  float: right;
}

#searcharea input{
  background: rgba(0,0,0, 0.05);
  border-radius: 5px;
  border: 0px;
  font-size: 1.2em;
  padding: 3px;
}

#main{
  width: 65%;
  float: left;
}

#sidebar{
  width: 30%;
  float: right;
}



/* Main Content */
#content { padding: 0 10px 10px 10px; width: auto; }
#container { clear: both; padding: 12px 8px 20px 8px; width: auto; overflow: hidden; }

/* Footer */
#footer { clear: both; background: #003366; color: #FFFFFF; font-size: 12px; padding: 5px 10px; text-align: left; }
#footer a { color: #ffffff; }
#footer a:visited { color: #ffffff; }
#footer-right { float: right; }

/* Messages */
#messages { display: block; font-size: 12px !important; margin: 0 0 3px; padding: 4px 25px 4px 25px; }
#debug { display: block; font-size: 12px !important; margin: 0 0 3px; padding: 4px 25px 4px 25px; }
.message { border: solid 3px #003366; padding: 10px; background: #336699; color: #FFFFFF; }
#debug .message { border: solid 3px #cc0000; padding: 10px; background: #ff6666; color: #FFFFFF; }

/*** Specific Page Styling ***/
/* Info Bar */
/*#infobar { float: right; width: 300px; border-left: 1px solid #003366; padding-left: 8px; margin-left: 12px; height: 100%; overflow: auto; }*/
#sidebar{
    float:right;
    width: 30%;
}

/* Forms */
.field label { float: left; clear:left; width: 12em; margin-right: 5px; }
.field input { clear: left; }
.form-group { border: 1px solid black; margin: 5px 0px; padding: 4px; }

#results table { border: 1px solid black; border-collapse: collapse; width: 100%; }

/* Calendar */
#calendar { border-collapse: collapse; table-layout: fixed; width: 100%; }
#calendar th { border: 1px solid #BBBBBB; background-color: #EEEEEE; }
#calendar td { border: 1px solid #BBBBBB; background-color: white; padding: 0; }
#calendar td.today { background-color: #CCCCFF; }
#calendar .today .date-field { background-color: #AAAAFF; }
#calendar td.inactive { background-color: #F8F8F8; }
#calendar .date-field { background-color: #F5F9FF; text-align: right; font-size: 80%; line-height: 1.5em; }
#calendar .date-cell { min-height: 3em; }
.calendar .event a { color: white; }
.calendar .event a:hover { color: white; text-decoration: none; }
.calendar .event { background-color: #8888FF; -moz-border-radius: 0.8em; margin: 2px 0; padding: 0 3px; font-size: 80%; }
.calendar .event { color: white; background-color: #8888FF; }
.calendar .event:hover { color: white; background-color: #444488; }

.calendar .fun { background-color: #FF6666; }
.calendar .big-fun { background-color: #44CC44; }
.calendar .mandatory-for-candidates { background-color: #AA66DD; }
.calendar .industry { background-color: #BBBB22; }
.calendar .community-service { background-color: #EEBB22; }
.calendar .department-service { background-color: #22BBBB; }
.calendar .misc { background-color: #BBBB22; }
.calendar li { display: inline; }

/* Two-column Layout */
#columns-wrapper { width: 90%; margin: auto; }
#col1 { float: left; width: 48%; }
#col2 { float: right; width: 48%; }


/* Clearfix for floating layouts */
.clear{
  clear:both;
}
