.admin{
  padding: 0.5em;
  background: #ccc;
}

div#photo{
  width: 125px;
  height: 100px;
  float:left;
}

#info{
  padding-left: 1em;
  float:left;
}

div.no-photo{
  background: url("../images/person_placeholder.png");
}

span.label{
  display: inline-block;
  text-transform: uppercase;
  font-size: 0.8em;
  color: #999;
  width: 12em;
}

.user-field{
  display: block;
}