#contain{     
      width: 60%;
      margin: auto;
}

@media screen and (max-width: 800px){
  #contain{     
    width: 100%;
    margin: auto;
  }
}

.big {
  font-size: 2.0em;
  text-align: center;
}

p {
  text-align: center;
}

/*Slideshows and Yearbooks*/
#slideshows {
    -webkit-padding-start: 0px;
    padding: 0px;
}
#slideshows li{
  padding: 0.7em;
  margin-bottom: 0.5em;
  text-indent: 0px;
}

#slideshows .icon{
  width: 16px;
  height: 16px;
  position: relative;
  top: 3px;
  display: inline-block;
  background: url("/images/icons/avi.png");
}

.trans-bg:hover{
  background: rgba(0,0,0,0.07);
}

#yearbooks {
  -webkit-padding-start: 0px;
  padding: 0px;
}
#yearbooks li{
  padding: 0.7em;
  margin-bottom: 0.5em;
  text-indent: 0px;
}

#yearbooks .icon{
  width: 16px;
  height: 16px;
  position: relative;
  top: 3px;
  display: inline-block;
  background: url("/images/icons/pdf.png");
}

/*Officers*/
div.photo{
  width: 125px;
  height: 100px;
  float:left;
  margin-right: 1em;
}

div.no-photo{
  background: url("../images/person_placeholder.png");
}

span.label{
  display: inline-block;
  text-transform: uppercase;
  font-size: 0.8em;
  color: #999;
  width: 12em;
}

.user-field{
  display: block;
}

.officer{
    display: inline-block;
    width: 40%;
    min-height: 100px;
    padding: 5px;
}

.officer .email{
    display: block;
}

#execs .position{
    display: inline-block;
    width: 40%;
}

#execs .officer{
    width: 100%;
}