td.slot_table_header {width: 80px; text-align: center}

td.slot_preferred {background-color: #00FF00;}

td.slot_available {background-color: #FFFF00;}

td.slot_unavailable {background-color: #FF0000;}

td.slot {border: 1px solid }

td.slot input {margin-left: 10px; margin-right: 3px; width:70%}
