table#slot-table{}

table#slot-table th { width: 100px; text-align: center}
table#slot-table .slider-container { padding: 10px 15px; }
#big-slider-container { width: 400px; padding: 10px 15px; }

td.slot-preferred {background-color: #77c265;}
td.slot-available {background-color: #f6e68b;}
td.slot-unavailable {background-color: #ed8d86;}

.legend-pref{
    background: #3f3;
}

.legend-comp{
    background: #39f;
}

.legend-curr{
    background: #fc0;
}

.legend-item {
    display: inline-block;
    height: 10px;
    width: 10px;
    margin: 3px;
    position: relative;
    top: 2px;
}

td.slot input { margin: auto; display: block; }

html table.tutoring { width: 100%; text-align: center; }
html table.tutoring td.pcell { width: 18%; padding: 3px; }
html table.tutoring td.pcell div.person { margin: 0px auto; }
html table.landing td.pcell { width: 45% !important; }
html .dept-heading { font-weight: bold; }

.tutorbox{
    z-index: 100;
    position: absolute;
    padding: 5px;
    background: white;
    border: 1px #ccc solid;
}
  
.person{
    padding: 3px;
    cursor: pointer;
}
