table#slot_table{}

table#slot_table th {width: 80px; text-align: center}

td.slot_preferred {background-color: #B2F2AA;}

td.slot_available {background-color: #EFF2AA;}

td.slot_unavailable {background-color: #EDCACA;}

td.slot {border: 1px solid }

td.slot input {margin-left: 10px; margin-right: 3px; width:70%}

html table.tutoring { width: 100%; text-align: center; }
html table.tutoring td.pcell { width: 18%; background-color: #EDF3FE; padding: 3px; }
html table.tutoring td.pcell div.person { margin: 0px 3px 0px 3px; }
html table.landing td.pcell { width: 45% !important; }
html .dept_heading { font-weight: bold; }
