<%# @param object [Notification]
 %>
<a class="url" href="<%= object.url %>">
  <div class="notification clearfix">
    <%= image_tag object.image, :class => 'image' %>
    <div class="desc"><%= object.desc %></div>
  </div>
</a>
