<head>
    <link rel="stylesheet" type="text/css" href="http://hkn.eecs.berkeley.edu/static/css/reset.css">
<link rel="stylesheet" type="text/css" href="http://hkn.eecs.berkeley.edu/static/css/style.css">
<link rel="stylesheet" type="text/css" href="http://hkn.eecs.berkeley.edu/static/css/jquery.autocomplete.css">
<link rel="stylesheet" type="text/css" href="http://hkn.eecs.berkeley.edu/static/css/jquery.cluetip.css">

<link rel="stylesheet" type="text/css" href="http://hkn.eecs.berkeley.edu/static/css/infobox.css">
    <link rel="stylesheet" type="text/css" href="http://hkn.eecs.berkeley.edu/static/css/main.css">
    <link rel="stylesheet" type="text/css" href="http://hkn.eecs.berkeley.edu/static/ajaxlist/ajaxlist.css">
	
<link rel="stylesheet" type="text/css" href="http://hkn.eecs.berkeley.edu/static/css/landing.css">
<link rel="stylesheet" type="text/css" href="http://hkn.eecs.berkeley.edu/static/css/tutor.css">
<link rel="stylesheet" type="text/css" href="http://hkn.eecs.berkeley.edu/static/css/info.css">

    <meta NAME="Keywords" CONTENT="HKN,Eta Kappa Nu,eta,kappa,nu,mu chapter,mu,berkeley,ucb,career 
fair,resume,eecs,3ab95fab25e674110eed26b2e988eaa3">
    

    <script type="text/javascript" src="http://hkn.eecs.berkeley.edu/static/js/jquery-1.2.6.js" > </script>

<script type="text/javascript" src="http://hkn.eecs.berkeley.edu/static/js/jquery.form.js"></script>

<script type="text/javascript" src="http://hkn.eecs.berkeley.edu/static/js/jquery.autocomplete.js"></script>
<script type="text/javascript" src="http://hkn.eecs.berkeley.edu/static/js/jquery.cluetip.js"></script>
<script type="text/javascript" src="http://hkn.eecs.berkeley.edu/static/js/jquery.bgiframe.js"></script>

	<!--[if lte IE 6]>
  
    <link rel="stylesheet" type="text/css" href="http://hkn.eecs.berkeley.edu/static/css/infobox-ie6.css">
    <script type="text/javascript" src="http://hkn.eecs.berkeley.edu/static/js/supersleight-min.js"></script>
  <![endif]-->
    <script type="text/javascript" src="http://hkn.eecs.berkeley.edu/static/js/navigation.js"></script>
    
<script type="text/javascript" src="http://hkn.eecs.berkeley.edu/static/js/tutoring.js"></script>
<script type="text/javascript" src="http://hkn.eecs.berkeley.edu/static/js/jquery.form.js"></script>

<script type="text/javascript" src="http://hkn.eecs.berkeley.edu/static/js/landing.js"></script>
<script type="text/javascript">
$(document).ready( function() {
$('.infobox').cluetip({
      width: 310,
      local: true
});
$('.infobox_help').cluetip({
      width: 210,
      local: true,
      showTitle: false
});
});
</script>


</head>

<body>

<div id="header">
	<div id="logoback">
		<div id="logo">
			<a href="/">

				<img src ="http://hkn.eecs.berkeley.edu/static/images/site/LogoDraftPlain.png" style="border:none">
			</a>
		</div>
	</div>
	
<div id="navigation">
<div id ="toplevel">
<ul class="navigation_toplevel">
<li id="services" class="navigation_toplevel_item">
	<a href="#">
		Student Services
	</a>

</li>
<li id="indrel" class="navigation_toplevel_item">
	<a href="http://hkn.eecs.berkeley.edu/indrel/">
		Industry Relations
	</a>
</li> 
<li id="event" class="navigation_toplevel_item">
	<a href="#">
		Events
	</a>
</li> 

<li id="info" class="navigation_toplevel_item">
	<a href="#">

		People
	</a>
</li> 

<li id="alumni" class="navigation_toplevel_item">
	<a href="#">
		Alumni Network
	</a>
</li> 
<li id="about" class="navigation_toplevel_item">
	<a href="#">
		About HKN
	</a>

</li> 

<li id="admin" class="navigation_toplevel_item">
	<a href="#">
		Administration
	</a>
</li> 




</ul>
</div>




<div class="submenu" id ="services_submenu">
<ul class="navigation_sublevel">
<li>	
	<a href="/admin/tutor/">

		Tutoring
	</a>
</li>
<li>	
	<a href="/student/CourseSurvey">
		Course Surveys
	</a>
</li>
<li>	
	<a href="/exam/browse/">
		Exam Archive
	</a>
</li>
<li>	
	<a href="/courseguide/">

		Course Guide
	</a>
</li>
<li>	
	<a href="/services/more/">
		More Services
	</a>
</li>
</ul>
</div>

<!--
<div class="submenu" id ="indrel_submenu">
<ul class="navigation_sublevel">
<li>	
	<a href="/indrel/">
		Why HKN?
	</a>
</li>
<li>	
	<a href="/indrel/resume-book/register/">
		Resume Books
	</a>
</li>
<li>	
	<a href="/indrel/infosession/register/">
		Infosessions
	</a>
</li>
<li>	
	<a href="/indrel/fair/">
		Career Fair
	</a>
</li>
<li>	
	<a href="/indrel/special/">
		Special Events
	</a>
</li>
<li>	
	<a href="/indrel/contact/">
		Contact Us
	</a>
</li>
</ul>
</div>
-->


<div class="submenu" id ="info_submenu">

<ul class="navigation_sublevel">
<li>	
	<a href="/info/list/officers/" class="navigation_sublevel_item">
        Officers
	</a>
</li>
<li>	
	<a href="/info/list/members/" class="navigation_sublevel_item">
        Members
	</a>
</li>
<li>	
	<a href="/info/list/candidates/" class="navigation_sublevel_item">
        Candidates
	</a>

</li>
</ul>
</div>


<div class="submenu" id ="event_submenu">
<ul class="navigation_sublevel">
<li>	
	<a href="/event/calendar/" class="navigation_sublevel_item">
		Events Calendar
	</a>
</li>
<li>	
	<a href="/event/list/future/" class="navigation_sublevel_item">
		Upcoming Events
	</a>

</li>
<li>
	<a href="/event/list/past/" class="navigation_sublevel_item">
		Past Events
	</a>	
</li>

<li>
	<a href="/event/rsvp/mine/" class="navigation_sublevel_item">
        My RSVPs
	</a>	
</li>

</ul>
</div>

<div class="submenu" id ="alumni_submenu">
<ul class="navigation_sublevel">
<li>	
	<a href="/alumni/registration/" class="navigation_sublevel_item">
		Registration
	</a>
</li>
<li>	
	<a href="/alumni/newsletter/" class="navigation_sublevel_item">
		Alumni Newsletter
	</a>
</li>

</ul>
</div>
<div class="submenu" id ="about_submenu">
<ul class="navigation_sublevel">
<li>	
	<a href="/about/contact/" class="navigation_sublevel_item">
		Contact Information
	</a>
</li>
<li>	
	<a href="/gallery2/" class="navigation_sublevel_item">
		Photo Gallery
	</a>
</li>
<li>	
	<a href="/about/yearbook/" class="navigation_sublevel_item">

		Yearbooks
	</a>
</li>
<li>	
	<a href="/about/slideshow/" class="navigation_sublevel_item">
		Slideshows
	</a>
</li>
<li>	
	<a href="/about/officers/" class="navigation_sublevel_item">
		Current Officers
	</a>
</li>
</ul>

</div>


<div class="submenu" id ="admin_submenu">
<ul class="navigation_sublevel">
<li>	
	<a href="/admin/" class="navigation_sublevel_item">
		Django Admin
	</a>
</li>
<li>	
	<a href="/admin/request/list/" class="navigation_sublevel_item">
		Requests [0]
	</a>
</li>

<li>	
	<a href="/admin/tutor/signup/" class="navigation_sublevel_item">
		Tutor Signup
	</a>
</li>
<li>	
	<a href="/admin/tutor/view_signups/" class="navigation_sublevel_item">
		View Tutor Signups
	</a>
</li>

<li>	
	<a href="/admin/tutor/admin/" class="navigation_sublevel_item">
		Tutor Admin
	</a>

</li>

</ul>
</div>



<div class="submenu" id ="cand_submenu">
<ul class="navigation_sublevel">
<li>
        <a href="/cand/portal/" class="navigation_sublevel_item">
        Portal Home
        </a>
</li>
<li>

        <a href="/cand/application/" class="navigation_sublevel_item">
        Application Form
        </a>
</li>
</ul>
</div>



</div>

</div>


<div id="content">

 <div id="topbar">

<div id="userbar"><!-- PRODUCTION -->
    
<% if @current_user %>
  Welcome, <%= @current_user.first_name + " " + @current_user.last_name %>
        <div class="userlinks small" style="clear:both">
          [ <a href="/info/change-profile/">Settings</a> | <%= link_to "Logout", logout_path %>]
        </div>
        
<% else %>
  <%= link_to "Login", login_path %>
<% end %>

</div>

<div id="searcharea">

<div id="examfiles" class="searchcontrol">
    <form action="/exam/list/" method="GET">
        <input type="text"  autocomplete="off" id="id_exam_course" name="exam_course" value="Search Exams" class="text autoclear"/><script type="text/javascript">$('#id_exam_course').autocomplete('/exam/exam_autocomplete/');</script><input class="button" type=submit value=" Search ">
    </form>
    <div class="small searchhelp" rel="#exams_search_help">
        example: CS 61a, ee 20, cs 188
    </div>

	
</div>
<div id="coursesurvey" class="searchcontrol">
    <form action ="/student/CourseSurvey/search" method="GET">
        <input class="autoclear text" type=input class="autoclear" name="n" value="Search Course Surveys"><input type="hidden" value="l1" name="sb"/><input type="hidden" value="1" name="recent"/><input type="hidden" value="1" name="sip"/><input type="hidden" value="1" name="sit"/><input type="hidden" value="1" name="sc"/><input type="hidden" value="1" name="sct"/><input class="button" type=submit value=" Search ">
    </form>
    <div class="small searchhelp" rel="#survey_search_help">
        example: Hilfinger, hilf*, cs 61a
    </div>
    
</div>

	

</div>
<div style="clear:both; line-height:0px">&nbsp;</div>
</div>




<div id="container">
	<div id="infobar">
		<h1>Latest News</h1>
		<p>Congratulations to all of the new Spring 2010 initiates! Thanks for all of the great memories throughout the semester. We hope you all have a great summer break and we look forward to seeing you next semester! We'll keep you posted on when the first members' meeting will be.</p>

		
		<div class="section">
			    
    
</table>

	<h3>All Events</h3>

    <div class="small infobar_links"><a href="/event/list/">view all events</a> | <a href="/event/calendar/">view events calendar</a></div>

		</div>

		
    <div class="section">
      <h3>Tutoring</h3>
      <p>Tutoring will not be held during finals week.</p>
    </div>
		
	</div>
    
    <div>
    <p>
        Eta Kappa Nu (HKN) is the <a href="http://www.hkn.org/">national Electrical Engineering honor society</a>.
        The Berkeley chapter is among the most active engineering societies at Berkeley, providing academic services to fellow undergraduates.
        Our two offices are located in 290 Cory and 345 Soda near the <a href="http://berkeley.edu/map/maps/AB45.html">northeastern corner of the UC Berkeley campus</a>.
    </p>

    <img src="http://hkn.eecs.berkeley.edu/files/content/main/tutoring.jpg" style="float: right; padding: 10px 0px 10px 20px;"/><h1>Student Services</h1>
    <h2>Tutoring</h2>
    <p>
        Students who need advice or tutoring in EE and CS courses are encouraged to drop by for free assistance. Officers hold <a href="/tutor/">office hours</a> from 11am to 5pm every weekday.
    </p>
    <h2>Exam Preparation</h2>

    <p>
        HKN provides a database of <a href="/exam/">past exams</a> and review problems to prepare students for midterms and finals. In addition, look out for exam review sessions for lower-division courses.
    </p>
    <h2>Course Surveys and Peer Advising</h2>
    <p>
        HKN conducts course surveys for all classes offered by the EECS department every semester. The results for all professors and TAs who have opted-in are <a href="/student/CourseSurvey/">available online</a>. Students who need more advice in choosing classes are encouraged to consult our officers during <a href="/tutor/">office hours</a>.
    </p>

    <img src="http://hkn.eecs.berkeley.edu/files/content/main/career_fair.jpg" style="float: left; padding: 10px 20px 10px 0px;"/><h1>Industry Relations</h1>
    <p>
        HKN has strong ties with industry, linking students with companies by setting up <a href="/indrel/infosessions.php">info sessions</a> where companies can give a presentation about themselves and provide a forum for students to talk to industry and find out more about the work environment. Additionally, we sell <a href="/indrel/rbooks.php">resume books</a> containing the resumes of our members.
    </p>
    <h1>Membership</h1>

    <p>
        Membership in Eta Kappa Nu is extended to undergraduates in the top fourth of the junior class and the top third of the senior class in EECS, and all continuing EE graduate students. Interested students should watch for the list of eligible names, which is posted around Cory Hall at the beginning of each semester. After being invited to join, prospective members participate in projects and social activities that demonstrate their dedication to serving fellow members of thiv style="clear:both"></div>
</div>

</div>

<div id="footer">
	<div id="footer-right">Eta Kappa Nu, Mu Chapter (<a href="mailto:www@hkn.eecs.berkeley.edu">www@hkn.eecs.berkeley.edu</a>)</div>

	<div id="footer-left"><a href="/">HOME</a> | <a href="/about/contact/">CONTACT</a></div>
</div>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-5477213-1");
pageTracker._trackPageview();
</script>
</body>

