	<div id="infobar">
		<h1>Latest News</h1>
		<p>Congratulations to all of the new Spring 2010 initiates! Thanks for all of the great memories throughout the semester. We hope you all have a great summer break and we look forward to seeing you next semester! We'll keep you posted on when the first members' meeting will be.</p>
		
		<div class="section">
	<h3>All Events</h3>

    <div class="small infobar_links"><a href="/event/list/">view all events</a> | <a href="/event/calendar/">view events calendar</a></div>

		</div>

		
    <div class="section">
		<%= render "tutor/tutoring_sidebar" %>
    </div>
		
	</div>
    
    <div>
    <p>
        Eta Kappa Nu (HKN) is the <a href="http://www.hkn.org/">national Electrical Engineering honor society</a>.
        The Berkeley chapter is among the most active engineering societies at Berkeley, providing academic services to fellow undergraduates.
        Our two offices are located in 290 Cory and 345 Soda near the <a href="http://berkeley.edu/map/maps/AB45.html">northeastern corner of the UC Berkeley campus</a>.
    </p>

    <img src="http://hkn.eecs.berkeley.edu/files/content/main/tutoring.jpg" style="float: right; padding: 10px 0px 10px 20px;" alt="Students being tutored" /><h1>Student Services</h1>
    <h2>Tutoring</h2>
    <p>
        Students who need advice or tutoring in EE and CS courses are encouraged to drop by for free assistance. Officers hold <a href="/tutor/">office hours</a> from 11am to 5pm every weekday.
    </p>
    <h2>Exam Preparation</h2>

    <p>
        HKN provides a database of <a href="/exam/">past exams</a> and review problems to prepare students for midterms and finals. In addition, look out for exam review sessions for lower-division courses.
    </p>
    <h2>Course Surveys and Peer Advising</h2>
    <p>
        HKN conducts course surveys for all classes offered by the EECS department every semester. The results for all professors and TAs who have opted-in are <a href="/student/CourseSurvey/">available online</a>. Students who need more advice in choosing classes are encouraged to consult our officers during <a href="/tutor/">office hours</a>.
    </p>

    <img src="http://hkn.eecs.berkeley.edu/files/content/main/career_fair.jpg" style="float: left; padding: 10px 20px 10px 0px;" alt="Career Fair"/><h1>Industry Relations</h1>
    <p>
        HKN has strong ties with industry, linking students with companies by setting up <a href="/indrel/infosessions.php">info sessions</a> where companies can give a presentation about themselves and provide a forum for students to talk to industry and find out more about the work environment. Additionally, we sell <a href="/indrel/rbooks.php">resume books</a> containing the resumes of our members.
    </p>
    <h1>Membership</h1>

    <p>
    Membership in Eta Kappa Nu is extended to undergraduates in the top fourth of the junior class and the top third of the senior class in EECS, and all continuing EE graduate students. Interested students should watch for the list of eligible names, which is posted around Cory Hall at about a month after the beginning of each semester. After being invited to join, prospective members participate in projects and social activities that demonstrate their dedication to serving fellow members of the EECS community, the ultimate goal of HKN.
    </p>
  </div>
  <div style="clear:both"></div>
