<h1>HKN Events Calendar</h1>

<%= render :partial => 'calendar' %>

<%= ajaxify_links 'calendar-controls' %>

<% if @auth["officers"] || @auth["cmembers"] %>
  <%= link_to 'New Event', new_event_path %>
<% end %>
