<h1>Confirm Candidate RSVPs</h1>

<table>
  <tr>
    <th>Event Name</th>
    <th>Date</th>
  </tr>

<% @events.each do |event| %>  
  <tr>
    <td><%= link_to event.name, confirm_event_rsvps_path(event.id, :group => @group) %></td>
    <td><%= event.start_time.strftime('%a %m/%d/%Y') %></td>
  </tr>
<% end %>
</table>
