<% @challenges = @current_user.candidate.challenges %>
<% if @challenges.length > 0 %>
  <% for challenge in @challenges %>
    <li>
      <span class="<%= "event_status " + (challenge.status ? 'event_done' : 'event_notdone') %>"></span>
      <span class="challenge_name"><%= challenge.name %></span>
      <% officer = Person.find(challenge.officer_id) %>
      <span class="officer_name"><%= officer.first_name + " " + officer.last_name %></span>   
    </li>
  <% end %>
<% else %>
  No challenges requested
<% end %>