common: &common
  secret_key_base: aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa

  rollbar_api_key: aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa

  mail_password: sampletextpassword

  stripe_pub_key: pk_live_aaaaaaaaaaaaaaaaaaaaaaaa
  stripe_secret_key: sk_live_aaaaaaaaaaaaaaaaaaaaaaaa

  recaptcha_site_key: aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
  recaptcha_secret_key: aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa

development:
  <<: *common

test:
  <<: *common

production:
  <<: *common
