<div id="infobar">
  <h1>Quicklinks</h1>
  <h3>Browse EE Data</h3>
  <ul class="plain">
    <li><a href="instructors/EE/Profesor/?recent=1">Electrical Engineering Professors</a></li>
    <li><a href="/student/CourseSurvey/instructors/EE/TA/?recent=1">Electrical Engineering Teaching Assistants</a></li>
    <li><a href="/student/CourseSurvey/courses/EE/?recent=1">Electrical Engineering Courses</a></li>
  </ul>

  <h3>Browse CS Data</h3>
  <ul class="plain">
  <li><a href="/student/CourseSurvey/instructors/CS/Professor/?recent=1">Computer Science Professors</a></li>
  <li><a href="/student/CourseSurvey/instructors/CS/TA/?recent=1">Computer Science Teaching Assistants</a></li>
  <li><a href="/student/CourseSurvey/courses/CS/?recent=1">Computer Science Courses</a></li>
  </ul>

  <h3>More Information</h3>
  <ul class="plain">
    <li><a href="/student/CourseSurvey/doc/howtouse.shtml"><b>How to use the course survey system</b></a></li>
    <li><a href="/student/CourseSurvey/doc/info_profs.shtml">Information for professors and TAs</a></li>
    <li><a href="/student/CourseSurvey/doc/ferpa.shtml">Information about hidden GSI ratings</a></li>
    <li><a href="/student/CourseSurvey/stats/">Aggregate statistics</a></li>
    <li><a href="/student/CourseSurvey/doc/about_software.shtml">About the GoodProfOrNot software</a></li>
  </ul>
</div>

<h1>Course Surveys</h1>

<p>
  Course survey data for all undergraduate and graduate level EECS courses are available here.
</p>

<p>
  There are hundreds of thousands of pages, so, although most aspects work fine, there may be errors of which we are unaware.  If you spot an error, especially a missing class or professor, or have a suggestion for the site, please email <%= link_to "www-coursesurvey@hkn.eecs.berkeley.edu", "mailto:www-coursesurvey@hkn.eecs.berkeley.edu" %>.
</p>

<h2>Search For an Instructor or Course</h2>
<form action="/student/CourseSurvey/search" method="get">
  <div>
    <input type="text" name="n" size="40" />
    <input type="submit" name="sb" value=" Search " />
  </div>
</form>

<h2>Prerequisite Charts</h2>
<p>(Click on a course in the images below to see its ratings)</p>
<%= render :partial => "eemap" %>
<%= render :partial => "csmap" %>
