#sidebar.trans-bg
  = render :partial => "quick_nav"
#main
  %h1 Course Surveys
  %p
    Course survey data for all undergraduate and graduate level EECS courses are available here.
  %p
    There are hundreds of thousands of pages, so, although most aspects work fine, there may be errors of which we are unaware.  If you spot an error, especially a missing class or professor, or have a suggestion for the site, please email www-coursesurvey@hkn.
  
  %h2 Prerequisite Charts
  %p (Click on a course in the images below to see its ratings)
  = render :partial => "eemap"
  %br
  = render :partial => "csmap"
