<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Department Tour Requested by <%= @name %></h1>
    <p>
      Hello committeepersons, a department tour has been requested by <%= @name %>.

    </p>
	<p>They had the following special comments:</p>
    <p>
      <%= @comments %>.
    </p>
	<p>You can reach them at <%= @phone %></p>
  </body>
</html>
