<% content_for :header do %>
  <style type="text/css">
    #contain{     
      width: 600px;
      margin: auto;
    }
  </style>
<% end %>

<div class="white-bg" id="contain">
  <h1>Contact Us</h1>

  <h2>Mailing Address</h2>

  <p>Eta Kappa Nu<br />
  290 Cory Hall<br />
  Berkeley, CA 94720</p>

  <div class="light-hbar"></div>
  
  <h2>Emails</h2>

  <ul>
    <li><strong>General:</strong> <a href="mailto:hkn@hkn.eecs.berkeley.edu">hkn@hkn.eecs.berkeley.edu</a></li>
    <li><strong>Industrial Relations:</strong> <a href="mailto:indrel@hkn.eecs.berkeley.edu">indrel@hkn.eecs.berkeley.edu</a></li>
    <li><strong>Webmaster</strong> <a href="mailto:www@hkn.eecs.berkeley.edu">www@hkn.eecs.berkeley.edu</a></li>

  </ul>
  
  <div class="light-hbar"></div>

  <h2>Office Locations</h2>

  <p>290 Cory Hall<br />
  (510) 642-7346</p>
  <p>345 Soda Hall<br />
  (510) 642-9952</p>
</div>
