<div class="white-bg" id="contain">
  <h1>Contact Us</h1>

  <h2>Mailing Address</h2>

  <p>Eta Kappa Nu<br />
  290 Cory Hall<br />
  Berkeley, CA 94720-1770</p>

  <div class="light-hbar"></div>

  <h2>Emails</h2>

  <ul>
    <li><strong>General:</strong> hkn@hkn</li>
    <li><strong>Industrial Relations:</strong> indrel@hkn</li>
    <!-- <li><strong>Webmaster</strong> www@hkn</li> -->

  </ul>

  <div class="hbar"></div>
  To send an email, fill out the full domain name (hkn=>hkn.eecs.berkeley.edu)

  <div class="light-hbar"></div>

  <h2>Office Locations</h2>

  <p>290 Cory Hall<br />
  (510) 642-7346</p>
  <p>345 Soda Hall<br />
  (510) 642-9952</p>
</div>
