<h2>Information for professors and TAs</h2>

<h3>Your biographic data</h3>
<p>All information we list by default is available publicly from the internet through other means. In particular, pictures are from the faculty roster pages on the EECS websites.</p>

<h3>Correcting information</h3>
<p>Since there is a large amount of data involved, sometimes there are human or automation errors.  For any kind of comment or request, email <a href="mailto:www-coursesurveys@hkn.eecs.berkeley.edu">coursesurveys@hkn.EECS</a>.</p>

<ul>
  <li> add/change/remove personal information: spelling/capitalization of your name, picture, email / URL, etc.</li>
  <li> fix errors or omissions in course survey data</li>
  <li> combine TA listed multiple times, e.g. as a CS and EE TA, or with different spelling</li>
  <li> link to a URL that comments on your ratings</li>
</ul>

<h3>Opt-in/Opt-out</h3>
<p>If you are a GSI that has been evaluated and would like to hide or unhide your ratings, email <a href="mailto:www-coursesurveys@hkn.eecs.berkeley.edu">coursesurveys@hkn.EECS</a>.</p>

<h3>Source data and Written comments</h3>
<p>The EECS department handles the Scantron input.  To see the raw data, including written comments, visit the department CS office (<b>Soda 381</b>) for CS classes, or the EE office (<b>Cory 231</b>) for EE classes (not the HKN offices!).</p>

<h3>Email addresses</h3>
<p>Rest assured that spammers are not getting your email address through HKN Course Surveys.  Though your email address looks normal and clickable when rendered by a modern Javascript-enabled browser, it is obfuscated in the HTML source such that web spiders cannot get it.</p>

