<p>
  Instructors: see <a href="info_profs.shtml">Information for professors and TAs</a>.
</p>

<h2>How We Evaluate Our Courses</h2>

<p>
  All courses have general information, which is evaluated (by the students taking the class) on a scale of 1 to 5, with 5 being very descriptive and 1 being not at all descriptive. Thus, for example, if the statement is "Work load is heavier than for courses of comparable credit," a 1 would correspond to an easy work load, and a 5 to a serious work load.
</p>

<p>
  In addition to the general information, all courses rank the course and instructor on a scale of 1 to 7, with 7 being most worthwhile and 1 being least.
</p>

<h2>How to use the Course Survey System</h2>

<h3>Deciding what class to take</h3>

<p>
  Examine the pages for the classes you are interested in taking; analyze the rating for "How worthwhile was this course?" for each one:
</p>

<ul>
  <li>From the main <a href="../">Course Surveys</a> page, click on the class for which you are looking on either the CS or EE prerequisite chart.  If it is not listed there, visit the list of all classes.
    <p>
      <strong>Note:</strong> For some courses, mostly independent study courses like 9C
      and 199, we have no survey results, as we do no surveys for them.
      However, we do have course descriptions.
    </p>
  </li>
  <li>Examine the overall rating; scan the ratings for "How worthwhile was this course?".</li>
  <li>Examine the ratings for each previous section by clicking on semester links ("Fall 2000"). Keep in mind that most of the per-section ratings are specific to a particular professor and the TAs.</li>
</ul>

<p>
  Find out which professors will teach each class in which you are interested, and read on below.
</p>

<h3>Choosing a professor from which to take a class</h3>

<p>If you want to take a certain class and have time to plan ahead, take it from a professor you will enjoy.  If you are not sure about what class to take, or don't have a strong opinion, take a class from a professor you will like.</p>
<p>Teaching effectiveness and how worthwhile a course is are the best indicators; however, you may weigh certain ratings more importantly than others. For example, if you learn visually, look at the rating for "Uses visual aids and blackboards effectively".</p>

<h2>Ratings</h2>

<h3>What do the colored bars mean?  Why are some reversed?</h3>
<p>The colored bars (red, yellow, green) represent the numerical rating.  For most ratings, higher numbers are better; for these ratings, higher ratings have bars that are longer toward the right.  For a few ratings, higher numbers are worse (e.g. "Pace of the course is too fast"); for those, higher ratings have bars that are longer toward the left.  In both cases, green is good and red is bad.</p>

<h3>How do I interpret the statistics?</h3>
<p>
  A rating looks like this:

  <blockquote>
    <table class="list" cellspacing=0>
      <tr class="first-row"><th class="first-child-r"><a href="#">Professor Blueberry</a></th>

        <th class="weakcenter" colspan=3>46 Respondents</th></tr>
      <tr><td>Is enthusiastic about the subject matter</td>
        <td nowrap class="rating1">4.8</td><td nowrap class="rating2">/ 5 &plusmn; 0.4</td><td nowrap class="rating3"><table class="bar" cellspacing=0><tr class="bar"><td class="left-darkgreen"><img alt="" border=0 src="/images/trans.gif" width=67 height=9></td><td class="right-bg"><img alt="" border=0 src="/images/trans.gif" width=3 height=9></td></tr></table></td>
      </tr>
    </table>
  </blockquote>

  Students rated this item 4.8 out of 5, with a confidence interval of 0.4 (explained below).  By clicking on the bar you can view a histogram of ratings and detailed statistics, and compare to other ratings for this course and by this professor.
</p>
<p>Also note the number of respondents (listed at the top of the table).  If there were less than 12 respondents, the mean will not be very indicative of how the professor or TA performed; in this case the respondent count is flagged red.</p>

<h3>What is the number after the "&plusmn;" in each rating?</h3>
<p> That is the 95% confidence level for the rating.  I.e., for a rating stated as "6.3 &plusmn; 0.4", the population mean for the evaluation is statistically 95% likely to be in the range [5.9, 6.7].  Confidence intervals greater than 1.0 are flagged red.  (In previous versions of the software, the number was the standard deviation of the rating, but this wasn't very useful when the number of respondents was low.)</p>

<h3>How are overall ratings calculated?</h3>
<p> Overall ratings are calculated as a weighted mean, where the weight per rating is: 0.9<sup>y</sup>, where <var>y</var> is the number of years difference between that rating and the youngest rating.</p>

<h2>Caveats</h2>

<p>Keep in mind, that because it is students who answer this survey, the data may be biased one way or another. A good example of this is that CS 61A students, new to the EECS program, might rank this class as having a significant work load (which it does, compared to the general education courses they're used to). On the other hand, CS 150 students might give this a lower value, since maybe they expected an impossible work load for the class, but got one that was slightly less than impossible, perhaps about the level of the amount the work in the 160 series, which has classes of fewer units (CS 150 is generally considered one of the most difficult courses in the CS undergraduate department).</p>
<p>Another example of this is EE 125, a class generally taken by graduates or undergraduates with an interest in robotics; thus, under "How worthwhile is this class compared to other classes?" the average of the class may reflect the type of person taking the class, not the actual applicability of the class to the average EECS major. Also, this guide is only an average and many find that they like a class most hate, or hate a class most like.</p>

<h2>Ask humans!</h2>
<p>Thus, although this guide is generally very useful in comparing courses, there is no substitution for talking to someone who has actually taken the class. Eta Kappa Nu, in association with other engineering honor societies, holds peer advising each semester (check our <a href=/calendar/>calendar</a>), and every EECS student is strongly encouraged to take advantage of this. Also, both our Cory (290) and Soda (345) offices are staffed from 11-5 Mon-Fri, so odds are you'll find a seasoned EECS student upon walking into one of those offices, no matter what the time of year. Don't be afraid to ask them questions about classes.</p>
