<h2>Hidden GSI Ratings</h2>

<p>
  HKN had been publishing ratings of professors and GSIs online since 1988.
  In October 2004, HKN was told that public posting teaching evaluations of
  GSIs violates the federal student-privacy law FERPA.  As a result, we only
  publish GSI ratings when we have explicit permission.
</p>

<p>
  All GSI ratings are by default marked <i>private</i>.  GSIs can opt-in to
  have ratings be displayed on our website; otherwise we only display
  objective/historical information.
</p>

<p>
  FERPA only applies to individuals who were required to be a teaching
  assistant in order to graduate, i.e. PhD students in EECS.  For uniformity,
  for now all teaching evaluations of TAs are by default private.
</p>

<h2>Opt-in Policy</h2>
<p>To opt-in to allow HKN to show your teaching evaluations on the
  web, please complete and return this form:
</p>
<ul>
  <li>
    <a href="https://hkn.eecs.berkeley.edu/files/content/main/TA_Course_Survey_OptIn.pdf" target="_blank">TA Course Survey Opt-In
    request form [pdf]</a>

  </li>
</ul>
<p>
  You may return the form through snail-mail, e-mail of scan, fax, or
  sneakernet.  Details are on the form.  You can expedite the process by
  emailing <a href="mailto:www-coursesurveys@hkn.eecs.berkeley.edu">
    www-coursesurveys@hkn.EECS</a> after you have completed the form.
</p>
<p>
  For more information, please email
  <a href="mailto:www-coursesurveys@hkn.eecs.berkeley.edu">
    www-coursesurveys@hkn.EECS</a>.

</p>
