<% content_for :header do %>
  <style type="text/css"> 
    #contain{     
      width: 60%;
      margin: auto;
    }
    
    @media screen and (max-width: 800px){
      #contain{     
        width: 100%;
        margin: auto;
      }
    }
    
    .big {
      font-size: 2.0em;
      text-align: center;
    }

    p {
      text-align: center;
    }
  </style>
<% end %>

<div class="white-bg" id="contain">
  <h1 class="big">Oops! Something went wrong.</h1>

  <p>
    We've been notified about this issue and we'll take a look at it shortly.
  </p>
</div>
