<div class="white-bg" id="contain">
  <h1 class="big">Service</h1>
  <h2>
    Overview of 2016 Events
  </h2>
  <img src='<%= asset_path('service/eecsday_small.jpg') %>' alt='eecsday'>
  <h2>
    <a href="/service/eecsday">EECS Day</a>
  </h2>
  <p>
    Local high school students got a glimpse into the facilities of UC Berkeley EECS and see the kind of work incoming students do in their classes. Specifically the event featured a tour of the department (including facilities, labs, and halls), a computer science lab, and an EE lab.
  </p>
  <img src='<%= asset_path('service/bearhacks_small.jpg') %>' alt='bearhacks'>
  <h2>
    <a href="/service/bearhacks">Bearhacks</a>
  </h2>
  <p>
    An educational hackathon geared towards high school students, especially those with little to no coding experience. For 6 hours, students had the opportunity to work on a project of their own with teammates, and current Berkeley CS undergraduates will be there to offer guidance.
  </p>
</div>
