<h1>End of Semester Slideshow</h1>

<p>
Each semester, the Bridge committee puts together a photo / video montage of the highlights of the past couple months.
</p>

<ul id="slideshows" class="plain">
  <li class="trans-bg">
    <span class="icon"></span>
    <a href='https://drive.google.com/a/hkn.eecs.berkeley.edu/file/d/1MWBLmc8pK2sk8c6B7yiiiL8hRE4jEv-e/view'>Fall 2015</a>
  </li>
  <li class="trans-bg">
    <span class="icon"></span>
    <a href='https://drive.google.com/a/hkn.eecs.berkeley.edu/file/d/1A4CkZqG43DGN7WH8JxvOISVu6MPuceT7/view'>Spring 2013</a>
  </li>
  <li class="trans-bg">
    <span class="icon"></span>
    <a href='https://drive.google.com/a/hkn.eecs.berkeley.edu/file/d/1Ovab0iMuXLT8xCArQqBl8VYRMTZ1NnB0/view'>Fall 2012</a>
  </li>
  <li class="trans-bg">
    <span class="icon"></span>
    <a href='https://drive.google.com/a/hkn.eecs.berkeley.edu/file/d/1u4PqlxWLYA6LwPhLAVudf1bdaveLvGc8/view'>Spring 2012</a>
  </li>
  <li class="trans-bg">
    <span class="icon"></span>
    <a href='https://drive.google.com/a/hkn.eecs.berkeley.edu/file/d/1O9OK0b1VebNyILKE8NvX5EDv_srCNY8A/view'>Fall 2011</a>
  </li>
  <li class="trans-bg">
    <span class="icon"></span>
    <a href='https://drive.google.com/a/hkn.eecs.berkeley.edu/file/d/11Q1ayjmaXge1SqCJIb3fcY_nx1EGr9Nl/view'>Spring 2011</a>
  </li>
  <li class="trans-bg">
    <span class="icon"></span>
    <a href='https://drive.google.com/a/hkn.eecs.berkeley.edu/file/d/1fBIr9s_TqGv0fPVZFrD3oo-_rTB-tuIW/view'>Fall 2010</a>
  </li>
  <li class="trans-bg">
    <span class="icon"></span>
    <a href='https://drive.google.com/a/hkn.eecs.berkeley.edu/file/d/1noaJbcab1Xn89HKIg8h-UIAQjBc6yYI0/view'>Spring 2010</a>
  </li>
  <li class="trans-bg">
    <span class="icon"></span>
    <a href='https://drive.google.com/a/hkn.eecs.berkeley.edu/file/d/1OODDWxxhEalgCAlUGuCvRxYDZDkQWy0-/view'>Fall 2009</a>
  </li>
  <li class="trans-bg">
    <span class="icon"></span>
    <a href='https://drive.google.com/a/hkn.eecs.berkeley.edu/file/d/1ibMmNYsyCFntn64XOUp1o9jRftjS9Dfu/view'>Spring 2009</a>
  </li>
  <li class="trans-bg">
    <span class="icon"></span>
    <a href='https://drive.google.com/a/hkn.eecs.berkeley.edu/file/d/1yuQJw1YaUYciQHLKQCL3gIKnrUAe77PJ/view'>Fall 2008</a>
  </li>
  <li class="trans-bg">
    <span class="icon"></span>
    <a href='https://drive.google.com/a/hkn.eecs.berkeley.edu/file/d/1NoMPsXz9iwZHHEz2I2sJTKVWejsOYVQb/view'>Spring 2008</a>
  </li>
  <li class="trans-bg">
    <span class="icon"></span>
    <a href='https://drive.google.com/a/hkn.eecs.berkeley.edu/file/d/1fM-yyqvxHLiDtPG-868RV_FCnKiLPRgA/view'>Fall 2007</a>
  </li>
  <li class="trans-bg">
    <span class="icon"></span>
    <a href='https://drive.google.com/a/hkn.eecs.berkeley.edu/file/d/1VjuebNh0jCjSymfARqzOBSrU35i9XJsv/view'>Spring 2007</a>
  </li>
  <li class="trans-bg">
    <span class="icon"></span>
    <a href='https://drive.google.com/a/hkn.eecs.berkeley.edu/file/d/1XQ3s7G-EPZRi7NrPfgWqreN0aryMV7zx/view'>Fall 2006</a>
  </li>
  <li class="trans-bg">
    <span class="icon"></span>
    <a href='https://drive.google.com/a/hkn.eecs.berkeley.edu/file/d/1hI_zANblmckozrNy82AGWFuNq28cXwvm/view'>Spring 2006</a>
  </li>
  <li class="trans-bg">
    <span class="icon"></span>
    <a href='https://drive.google.com/a/hkn.eecs.berkeley.edu/file/d/1x7n7layNZfim9TV1_JiQ_tdU9A0tZQJ9/view'>Fall 2005</a>
  </li>
  <li class="trans-bg">
    <span class="icon"></span>
    Spring 2005 [Parts <a href='https://drive.google.com/a/hkn.eecs.berkeley.edu/file/d/1R-leqjQOUINpOPNnDDqzXULwLhVVguYS/view'>1</a>,
    <a href='https://drive.google.com/a/hkn.eecs.berkeley.edu/file/d/1zqggd_ncVh9gSssOqG07YcXtxKH-VbPV/view'>2</a>]
  </li>
  <li class="trans-bg">
    <span class="icon"></span>
    Fall 2004 [Parts <a href='https://drive.google.com/a/hkn.eecs.berkeley.edu/file/d/1DiaY7AtFWXX8qugYABaeP2Tx2HE54ILF/view'>1</a>,
    <a href='https://drive.google.com/a/hkn.eecs.berkeley.edu/file/d/1NU7SiTk8RAic3lnVlu-IGLj-4iEumcL3/view'>2</a>]
  </li>
  <li class="trans-bg">
    <span class="icon"></span>
    <a href='https://drive.google.com/a/hkn.eecs.berkeley.edu/file/d/17uq4jHSULPKBeR6wtOlWMwydwBNMHsgP/view'>Spring 2004</a>
  </li>
  <li class="trans-bg">
    <span class="icon"></span>
    <a href='https://drive.google.com/a/hkn.eecs.berkeley.edu/file/d/11grAYNcvNZjgJCa3ysIvuS4fA2sOJvvb/view'>Fall 2003</a>
  </li>
  <li class="trans-bg">
    <span class="icon"></span>
    <a href='https://drive.google.com/a/hkn.eecs.berkeley.edu/file/d/1FgL-eZiXQyqzT3dLpFAYB8GqrK3d5Lu4/view'>Spring 2003</a>
  </li>
  <li class="trans-bg">
    <span class="icon"></span>
    <a href='https://drive.google.com/a/hkn.eecs.berkeley.edu/file/d/1yrES2S_COi11mci_Emd97JlX_AySHT6U/view'>Fall 2002</a>
  </li>
  <li class="trans-bg">
    <span class="icon"></span>
    <a href='https://drive.google.com/a/hkn.eecs.berkeley.edu/file/d/1qO6qtb80-IXceoG7qBsIxpWNrUeYV-1j/view'>Spring 2002</a>
  </li>
  <li class="trans-bg">
    <span class="icon"></span>
    <a href='https://drive.google.com/a/hkn.eecs.berkeley.edu/file/d/1Mv3s1XgEwvFc2ylr4V8whrGH9pCuORZn/view'>Fall 2001</a>
  </li>
  <li class="trans-bg">
    <span class="icon"></span>
    <a href='https://drive.google.com/a/hkn.eecs.berkeley.edu/file/d/10BMmc6jeorpcAoWhsR2rkk3OHZdXspse/view'>Spring 2001</a>
  </li>
  <li class="trans-bg">
    <span class="icon"></span>
    <a href='https://drive.google.com/a/hkn.eecs.berkeley.edu/file/d/1VO_6rGXOLJqx_9y0XmxbF-qUUQN9N2lX/view'>Fall 2000</a>
  </li>
  <li class="trans-bg">
    <span class="icon"></span>
    <a href='https://drive.google.com/a/hkn.eecs.berkeley.edu/file/d/1iKB2MEiIkVNbBH94EF9yS20sOvZ8lBLd/view'>Fall 1999</a>
  </li>
</ul>
