<h1>End of Semester Slideshow</h1>

<p>
Each semester, the Bridge committee puts together a photo / video montage of the highlights of the past couple months.
</p>

<ul id="slideshows" class="plain">
  <li class="trans-bg">
    <span class="icon"></span>
    <a href='http://hkn.eecs.berkeley.edu/files/content/slideshow/sp13_slideshow_480p.mp4'>Spring 2013</a></li>
  <li class="trans-bg">
    <span class="icon"></span>
    <a href='http://hkn.eecs.berkeley.edu/files/content/slideshow/fa12_slideshow_720p.mp4'>Fall 2012</a></li>
  <li class="trans-bg">
    <span class="icon"></span>
    <a href='http://hkn.eecs.berkeley.edu/files/content/slideshow/sp12_slideshow_720p.mp4'>Spring 2012</a></li>
  <li class="trans-bg">
    <span class="icon"></span>
    <a href='http://hkn.eecs.berkeley.edu/files/content/slideshow/fa11_slideshow_720p.mp4'>Fall 2011</a></li>
  <li class="trans-bg">
    <span class="icon"></span>
    <a href='http://hkn.eecs.berkeley.edu/files/content/slideshow/sp11_slideshow_720p.mp4'>Spring 2011</a></li>
  <li class="trans-bg">
    <span class="icon"></span>
    <a href='http://hkn.eecs.berkeley.edu/files/content/slideshow/fa10_slideshow_720p.mp4'>Fall 2010</a></li>
  <li class="trans-bg">
    <span class="icon"></span>
    <a href='http://hkn.eecs.berkeley.edu/files/content/slideshow/sp10_slideshow_720p.mp4'>Spring 2010</a></li>
  <li class="trans-bg">
    <span class="icon"></span>
    <a href='http://hkn.eecs.berkeley.edu/files/content/slideshow/fa09_slideshow_720p.mp4'>Fall 2009</a></li>
  <li class="trans-bg">
    <span class="icon"></span>
    <a href='http://hkn.eecs.berkeley.edu/files/content/slideshow/sp09_slideshow_720p.mp4'>Spring 2009</a></li>
  <li class="trans-bg">
    <span class="icon"></span>
    <a href='http://hkn.eecs.berkeley.edu/files/content/slideshow/fa08_slideshow.avi'>Fall 2008</a></li>
  <li class="trans-bg">
    <span class="icon"></span>
    <a href='http://hkn.eecs.berkeley.edu/files/content/slideshow/sp08_slideshow_1080p.avi'>Spring 2008</a></li>
  <li class="trans-bg">
      <span class="icon"></span>
      <a href='http://hkn.eecs.berkeley.edu/files/content/slideshow/fa07_slideshow_hq.avi'>Fall 2007</a></li>
  <li class="trans-bg">
    <span class="icon"></span>
    <a href='http://hkn.eecs.berkeley.edu/files/content/slideshow/sp07_slideshow_low.avi'>Spring 2007</a></li>
  <li class="trans-bg">
      <span class="icon"></span>
      <a href='http://hkn.eecs.berkeley.edu/files/content/slideshow/fa06_slideshow.avi'>Fall 2006</a></li>
  <li class="trans-bg">
      <span class="icon"></span>
      <a href='http://hkn.eecs.berkeley.edu/files/content/slideshow/sp06_slideshow.avi'>Spring 2006</a></li>
  <li class="trans-bg">
      <span class="icon"></span>
      <a href='http://hkn.eecs.berkeley.edu/files/content/slideshow/fa05_slideshow.avi'>Fall 2005</a></li>
  <li class="trans-bg">
      <span class="icon"></span>
Spring 2005 [Parts <a href='http://hkn.eecs.berkeley.edu/files/content/slideshow/sp05_slideshow1.ppt'>1</a>,<a href='http://hkn.eecs.berkeley.edu/files/content/slideshow/sp05_slideshow2.ppt'>2</a>]</li>
  <li class="trans-bg">
      <span class="icon"></span>Fall 2004 [Parts <a href='http://hkn.eecs.berkeley.edu/files/content/slideshow/fa04_slideshow1.ppt'>1</a>,<a href='http://hkn.eecs.berkeley.edu/files/content/slideshow/fa04_slideshow2.ppt'>2</a>]</li>

  <li class="trans-bg">
      <span class="icon"></span>
      <a href='http://hkn.eecs.berkeley.edu/files/content/slideshow/sp04_slideshow.ppt'>Spring 2004</a></li>
  <li class="trans-bg">
      <span class="icon"></span>
<a href='http://hkn.eecs.berkeley.edu/files/content/slideshow/fa03_slideshow.ppt'>Fall 2003</a></li>
  <li class="trans-bg">
      <span class="icon"></span>
  <a href='http://hkn.eecs.berkeley.edu/files/content/slideshow/sp03_slideshow.ppt.gz'>Spring 2003</a></li>
  <li class="trans-bg">
      <span class="icon"></span>
  <a href='http://hkn.eecs.berkeley.edu/files/content/slideshow/fa02_slideshow.ppt'>Fall 2002</a></li>
  <li class="trans-bg">
      <span class="icon"></span>
  <a href='http://hkn.eecs.berkeley.edu/files/content/slideshow/sp02_slideshow.ppt'>Spring 2002</a></li>
  <li class="trans-bg">
      <span class="icon"></span>
  <a href='http://hkn.eecs.berkeley.edu/files/content/slideshow/fa01_slideshow.ppt'>Fall 2001</a></li>
  <li class="trans-bg">
      <span class="icon"></span>
  <a href='http://hkn.eecs.berkeley.edu/files/content/slideshow/sp01_slideshow.ppt'>Spring 2001</a></li>
  <li class="trans-bg">
      <span class="icon"></span>
  <a href='http://hkn.eecs.berkeley.edu/files/content/slideshow/fa00_slideshow.ppt.gz'>Fall 2000</a></li>
  <li class="trans-bg">
      <span class="icon"></span>
  <a href='http://hkn.eecs.berkeley.edu/files/content/slideshow/fa99_slideshow.ppt.gz'>Fall 1999</a></li>

</ul>

