<p>
  Unfortunately, tours are closed for the summer. You may still schedule tours
  for dates starting August 28th, when our team of current EECS students will
  have returned and can welcome you to campus.
</p>
<p>
  However, I hope this does not discourage you from visiting! You might also want to consider:
</p>
<ul>
  <li>Visiting the EE and CS buildings, Cory and Soda Hall, open 8am-5pm</li>
  <li>Attending EECS summer lectures taught by fall / spring TAs: Schedule of Summer Courses</li>
  <li>Taking a campus tour / specific major tour offered by the university: Campus Tours</li>
</ul>
<p>
  If you have any other outstanding questions, I would be delighted to answer them here: Ask a Question. I apologize for the inconvenience, and I hope you will still have the opportunity to learn about the EECS department. Enjoy your summer!
</p>
<p>
  Sean Farhat
  Department Relations Officer, HKN
</p>