[Unit]
Description=hkn-rails logrotate
ConditionHost=werewolves

[Service]
Type=oneshot
ExecStart=/usr/sbin/logrotate -s /home/h/hk/hkn/logrotate/status /home/h/hk/hkn/logrotate/logrotate.conf
ExecStartPost=/bin/systemctl restart --user hkn-rails.service
