<table align="center" width="80%"  border="0" cellpadding="4">
  <tr valign="top" bordercolor="#FFFFFF" bgcolor="#FFFF99">
    <td colspan="2" class="boxborder"><div align="center">
        <p style="font-weight: bold; font-size: 18px;">EECS Career Fair</p>
        This year HKN is partnering with the <a href="http://career.berkeley.edu">UCB Career Center</a> to bring you the
        the EECS Career Fair.
    </div></td>

  </tr>
  <tr valign="top">
    <td width="50%">
      <h1>The EECS Career Fair</h1>
      <p align="left">The University of California at Berkeley chapter of Eta Kappa Nu would like to <span style="font-weight: bold">thank</span> all those involved in making our EECS Career Fair a major success.</p>      
      <h2>What is the HKN Career Fair?</h2>
      <p align="left">
      The EECS Career Fair is the <span style="font-weight: bold">largest technical career fair</span> held on the Berkeley campus and is the only career fair specifically <span style="font-weight: bold">targeting</span> students majoring in <span style="font-weight: bold">Electrical Engineering</span> and <span style="font-weight: bold">Computer Science.</span></p>

      <p align="center"><a href="/images/site/jobfair_018.jpg"><%= image_tag "site/jobfair_018_preview.jpg" %></a></p>        
      <h2>Reputation</h2>
      <p align="left">
      The EE and CS programs here at Berkeley continue to rank <span style="font-weight: bold">top three in the nation</span>, with a total enrollment exceeding 1,400 students. All companies in attendance can expect to meet hundreds of these <span style="font-weight: bold">highly motivated</span> and <span style="font-weight: bold">highly qualified </span>students.</p>        </td>
    <td width="50%">
      <h2>Why choose HKN?</h2>
      <p align="left">
      Through the years, HKN has built a strong relationship with both the <span style="font-weight: bold">UC Berkeley EECS Department</span> and the <span style="font-weight: bold">EECS community</span> on campus and in industry. It is our reputation and leadership with the students and the department that allow us to publicize and host successful career fairs. This year, our career fair drew in approximately <span style="font-weight: bold">650 students.</span></p>
      <h2>Why our Career Fair? </h2>
      <p align="left">
      Because we only target students from technical/engineering majors, your company will see <span style="font-weight: bold">precisely those you wish to recruit</span>. Other larger campus-wide career fairs usually draw in more students, but force companies to be ready to deal with positions spanning multiple departments. Also, companies in the past have found it <span style="font-weight: bold">easier</span> and <span style="font-weight: bold">more effective</span> to take the extra time to talk to students <span style="font-weight: bold">more intimately</span> and <span style="font-weight: bold">ask questions</span> about resumes at our fair.</p>      
      <h2>Questions?</h2>
      <p align="left">

      Feel free to <a href="contactus.php">contact us</a> with any questions or comments you may have.</p>
      <p align="center"><a href="/images/site/jobfair_001.jpg"><%= image_tag "site/jobfair_001_preview.jpg" %></a></p></td>
  </tr>
</table>
