<div class="white-bg" id="contain">
  <h1>Contact Us</h1>

  <div id="infobar">
    <b>Eta Kappa Nu (HKN) Mu Chapter</b><br />
    EECS Honor Society<br />
    Industrial Relations Committee<br />
    <br />
    290 Cory Hall<br />
    Berkeley, CA 94720<br />
    <br />
    Tel: 510.642.7346<br />
    Fax: 510.642.2845<br />
    indrel@hkn<br />
    <%= link_to 'http://hkn.eecs.berkeley.edu', 'http://hkn.eecs.berkeley.edu' %>
  </div>

  <div class="light-hbar"></div>

  <h2>The Industrial Relations Committee</h2>
  <% @indrel_officers.each do |officer| %>
    <div>
      <%= image_tag officer.picture, class: "indrel-officer-photo" unless officer.picture.blank? %>
      <div>
        <b><%= officer.fullname %></b><br />
        <%= officer.username %>@hkn
      </div>
    </div>
    <div class="clear"></div>
  <% end %>
</div>
