	<div class='store-sidebar'>
		<h2>Store Annoucement</h2>
		<p>HKN Gear Store just opened! Please refrain from fighting with other fellow customers to get the newest and latest products!</p>

		<h2>Admin Meta</h2>
		<p><%= link_to "Add new Product", :controller => "product", :action => "new" %></p>
	</div>