#term
{
  background: #0a0f16;
  color: white;
  font-family: 'Consolas', 'Courier New', Courier, monospace !important;
  height: 400pt;
  width: 800pt;
  position: relative;
  padding: 2em;
}

#term *
{
  font-family: 'Consolas', 'Courier New', Courier, monospace !important;
  font-size: 10pt;
}

#stdin
{
  position: absolute;
  bottom: 0px;
}

#input
{
  background: transparent;
  color: white;
  border: 0px;
  display: inline;
}

#stdout
{
  vertical-align: bottom;
  position: absolute;
  bottom: 14pt;
}

#stdout p
{
  margin: 0px;
  padding: 0px;
}

