/* Disabling course survey graphs for certain individuals */
#chart_div, #ta_chart_div, #instructor_chart_div {
  display: none;
}
.ratingbar { width: 100px; height: 15px; border: 1px #ddd solid; display: inline-block; padding: 2px; border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px;}
.ratingbar .subbar { height: 100%; display: block; border-radius: 2px; -webkit-border-radius: 2px; -moz-border-radius: 2px;}
.histogram th, .histogram td { padding: 0 4px; }
.frequencybar { width: 200px; height: 20px; display: inline-block; }
.frequencybar .subbar { 
  height: 100%; 
  display: block; 
  border: 1px solid #222288; 
  background-color: #FFDD44; 
  background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0, #FFDD44), color-stop(1, #FFEE66));
  background-image: -moz-linear-gradient( center left, #FFDD44 0%, #EEFF33 100% );
}
.infobox th { text-align: left; }
#rating-info { margin: auto; display: table; }
.info-row { display: table-row; }
.info-label { display: table-cell; text-align: right; font-weight: bold; padding: 5px; }
.info-item { display: table-cell; text-align: left; padding: 5px; }
.clear { clear: both; }

#ratings { width: 85%; border: 1px solid #ddd; border-collapse: collapse; margin: 1em auto; }
#ratings th, #ratings td { text-align: center;}

.instructor-photo { background: white; border: 1px solid #ccc; padding: 3px; }
#instructorbox { float: left; width: 20%; }
#instructorbox ul { list-style: none }
#klass-table{
  padding: 0px 2em;
  width: 70%;
  float:left;
}

#klass-table #ratings{
  width: 100%;
}

.rating2
{
  font-size: x-small;
}
