.course {
  stroke: #ccc;
  stroke-width: 1;
}
.highlight {
  stroke: #000;
  stroke-width: 2;
}

.edge {
  stroke: #ccc;
  stroke-width: 1;
}

.recommended {
  stroke-dasharray: 5; 
}

.required {
  stroke-dasharray: 0;
}

.highlight {
  stroke: #000
}

.prereq {
  stroke-width: 2;
}

.post {
  stroke-width: 2;
}

/* group holding course and text */
.nodes { 
  cursor: pointer;

}

.courseNames {
  fill: "black";
  font-family: "sans-serif";
  font-size: "12px";
}

.legendText {
 fill: black;
 font-family: "sans-serif";
/*  text-anchor: "middle" */
 font-size: "12px";
}
