ul.courses {
    margin: 0;
    padding: 0;
    list-style: none;
    list-style-position: outside;
}
ul.courses li {
    padding: 5px 0 0 0;
    border-top: solid 1px #000000;
    margin: 0;
    line-height: 1.3em;
    font-size: small;
    text-indent: 1em;
}

.exam_table{
  width: 48%;
  padding-right: 0.5em;
  float:left;
}

.exam_table th.dept_name{
  padding: 4px;
  font-size: 1.2em;
  text-align: center;
}

table.table{
  width: 100%;
}

.exam-disclaimer {
  padding: 1em;
  width: 60%;
  min-width: 120pt;
  margin: 2em auto;
  background-color: #FFFAD6;
  text-align: center;
}
