<div class="exam-disclaimer">
These exams and solutions have been collected with the explicit consent of the corresponding instrutor(s). If you are an instructor, and you wish to no longer have your exams or solutions available on our site, please email examfiles@hkn.
</div>
