<h1>Browse Exams by Department</h1>
<style type="text/css">

ul.courses {
    margin: 0;
    padding: 0;
    list-style: none;
    list-style-position: outside;
}
ul.courses li {
    padding: 5px 0 0 0;
    border-top: solid 1px #000000;
    margin: 0;
    line-height: 1.3em;
    font-size: small;
    text-indent: 1em;
}
</style>

<% @dept_courses.each do |dept_name, courses| %>
<div style="float:left; margin-right: 30px; margin-top: 30px;">
  <h1><%= dept_name %></h1>
  <ul class="courses">
    <% courses.each do |course| %>
	    <li><%= "#{course.dept_abbr} #{course.course_number} - #{course.exams.length} exam(s)" %>
    <% end %>
  </ul>
</div>
<% end %>
<br />
