<!-- Current Resume partial (Resumes) -->
<!-- Basically the same thing as the one for people except there's no
     upload link. Hopefully when we replace the tables with css we can
     desiccate this by using the same partial for both -->
 

<div class="field">
	<%= @f.label "Current resume" %>
	<div class="glue">
		<% if @current_user.resumes.empty? %>
			   <p><%= "No resume uploaded" %></p>
		   <% else %>
	       <% current_resume = @current_user.resumes.first %>
		     <% upload_time = current_resume.created_at.getlocal.to_datetime.strftime("%A %B %e, %Y %l:%M %p") %>
			   <p> <%= "Uploaded #{upload_time}" %> <br />
			       <%= "GPA #{current_resume.overall_gpa} (overall)" %></p>
		<% end %>
	</div>
</div>
