<h1> Résumés </h1>

<table class="table">
	<tr><th>Upload Date</th><th>Person</th><th>Overall GPA</th><th>File Location</th></tr>
<% @resumes.each do |resume| %>
	<tr><td> <%= resume.created_at %> </td>
	    <td> <%= "#{resume.person.first_name} #{resume.person.last_name}" %> </td>
			<td> <%= resume.overall_gpa %>
		  <td> <%= resume.file %> </td>
	</tr>
<% end %>
</table>
