  <table>
    <tr>
      <th>Attribute</th>
      <th>Value</th>
    </tr>

    <%-
    [
      [ form.label(:department_id),
        form.collection_select(:department_id, Department.all, :id, :name)
      ],
      [ form.label(:full_course_number),
        form.text_field(:full_course_number)
      ],
      [ form.label(:name),
        form.text_field(:name)
      ],
      [ form.label(:description),
        form.text_area(:description)
      ],
      [ form.label(:prereqs),
        form.text_field(:prereqs)
      ],
      [ form.label(:units),
        form.text_field(:units)
      ]
    ].each do |attr, val|
    -%>
    <tr>
      <td><%= attr %></td>
      <td><%= val %></td>
    </tr>
    <%- end -%>

  </table>

  <%= form.submit 'Save' %>
