<%= link_to "&larr;&nbsp;All Courses".html_safe, admin_courses_path %>

<h1><%= @course.new_record? ? 'New Course' : @course.to_s %></h1>

<%= form_for @course, :url => admin_courses_create_path, method: :post do |f| -%>
  <%= render 'form', :form => f %>
<%- end -%>
