<div id="searcharea">
  <div id="examfiles" class="searchcontrol">
    <form action="/exam/list/" method="get">
      <div>
        <input type="text" id="id_exam_course" name="exam_course" value="Search Exams" class="text autoclear" />
        <input class="button" type="submit" value="Search" />
      </div>
    </form>
    <div class="small searchhelp">
      example: CS 61a, ee 20, cs 188
    </div>
  </div>
  <div id="coursesurvey" class="searchcontrol">
    <form action ="/student/CourseSurvey/search" method="get">
      <div>
        <input class="autoclear text" type="text" name="n" value="Search Course Surveys" />
        <input type="hidden" value="l1" name="sb"/>
        <input type="hidden" value="1" name="recent"/>
        <input type="hidden" value="1" name="sip"/>
        <input type="hidden" value="1" name="sit"/>
        <input type="hidden" value="1" name="sc"/>
        <input type="hidden" value="1" name="sct"/>
        <input class="button" type="submit" value="Search" />
      </div>
    </form>
    <div class="small searchhelp">
      example: Hilfinger, hilf*, cs 61a
    </div>
  </div>
</div>
