<div id="searcharea">
  <div id="examfiles" class="searchcontrol">
    <form action="/exam/list/" method="GET">
      <input type="text"  autocomplete="off" id="id_exam_course" name="exam_course" value="Search Exams" class="text autoclear"/><!--script type="text/javascript">$('#id_exam_course').autocomplete('/exam/exam_autocomplete/');</script--><input class="button" type=submit value=" Search ">
    </form>
    <div class="small searchhelp" rel="#exams_search_help">
      example: CS 61a, ee 20, cs 188
    </div>
  </div>
  <div id="coursesurvey" class="searchcontrol">
    <form action ="/student/CourseSurvey/search" method="GET">
      <input class="autoclear text" type=input class="autoclear" name="n" value="Search Course Surveys"><input type="hidden" value="l1" name="sb"/><input type="hidden" value="1" name="recent"/><input type="hidden" value="1" name="sip"/><input type="hidden" value="1" name="sit"/><input type="hidden" value="1" name="sc"/><input type="hidden" value="1" name="sct"/><input class="button" type=submit value=" Search ">
    </form>
    <div class="small searchhelp" rel="#survey_search_help">
      example: Hilfinger, hilf*, cs 61a
    </div>
  </div>
</div>
