<div id="searcharea">
  <div id="examfiles" class="searchcontrol">
    <form action="/exam/list/" method="get">
      <div>
        <input type="text" id="id_exam_course" name="exam_course" placeholder="Search Exams" class="text autoclear" />
        <input class="button" type="submit" value="Search" />
      </div>
    </form>
    <div class="small searchhelp">
      example: CS 61a, ee 20, cs 188
    </div>
  </div>
  <div id="coursesurvey" class="searchcontrol">
    <%= form_tag(coursesurveys_search_path, :method => "post") do %>
      <%= text_field_tag(:query, "", :class => "text", :placeholder=>"Search Course Surveys") %>
      <%= submit_tag("Search") %>
    <%- end -%>
    <div class="small searchhelp">
      example: Hilfinger, hilf*, cs 61a
    </div>
  </div>
</div>
