<div id="userbar">
  <% if @current_user %>
    Welcome, <%= @current_user.first_name + " " + @current_user.last_name %>
    <div style="clear:both">
      <a href="/account-settings"><span class='userbar-link'><span class='icon' id="settings"></span>Settings</span></a>
      <a href="/logout" ><span class='userbar-link'><span class='icon' id="logout"></span>Log Out</span></a>
    </div>
  <% else %>
    <div class="small">
      <%= link_to "Login", login_path %> or <%= link_to "Register", register_path %>
    </div>
  <% end %>
</div>
